*.kdev4
*~
.project
.cproject
*.mode1v3
*.orig
*.rej
*.pbxuser
*.ply.*.bin
*.vcproj.*.user
*.log
*.auto.eqc
Result_*.rgb*
___*
conn/build
conn/.vscode
comm/build
comm/.vscode
client/build
client/.vscode
server/build
server/.vscode
